/* 124559 trim
footer  {
 padding-top: 15px;
 background-color: var(--main-header-bg-color);
 position: fixed;
 bottom: 0;
 width: 100%;
 height: 50px;
 text-align: center;
 color: #eff6e0;
  }
 
i {
    color: #eff6e0;
 }
  
i:hover {
    color: blueviolet;
  }
 font
aec3b0 backgroud 
 01161e border/font
*/


* {
  color: #01161e;
  box-sizing: border-box;
  margin: 0;
  --main-header-bg-color: #124559;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #aec3b0;
}
header,
.nav {
   width: 100%;
   background-color: var(--main-header-bg-color);
   color:#eff6e0;
   text-decoration: none;
}
li {
  display: inline-flex;
  justify-content: end;
  font-size: 20px;
  padding-left: 45px;
  text-align: center;
  text-decoration: none;
 }


.MSheader {
   width: 30%;
   font-size: 65px;
   font-weight: 400;
   margin-bottom: 0px;
   margin-right: 0px;
   color: #eff6e0;
 }

 h1 {
   padding: 25px;
 }
/* header {
  width: 100%;
  background-color: darkcyan;
} */

 .MSheader {
    width: 30%;
    font-size: 65px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-right: 0px;
    color: #eff6e0;
  }

  a {
    width: 100%;
    color: #eff6e0;
    text-decoration: none;
    
}
 nav {
    width: 100%;
    list-style-type: none;
    text-align: end;
    padding-right: 0px;
    float: top;
    background-color: var(--main-header-bg-color);
    padding-top: 10px;
    padding-bottom: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    text-decoration: none;
}


   a:hover {
       color: #aec3b0;
   }

.abMe {
  text-align: center;
  padding-top: 25px;
  padding-left: 100px;
  padding-right: 100px;
}

.footer {
  padding-top: 15px;
  background-color: var(--main-header-bg-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  color: #eff6e0;
   }
   iframe {
    margin-left: 170px;
    margin-right: 130px;
    height: 1200px;
     width: 80%;
  } 
 i {
     color: #eff6e0
 }
     .portfolio {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      padding: 35px;
      font-size: 50px;
     }
  #footer  {
      padding-top: 15px;
      background-color: var(--main-header-bg-color);
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 50px;
      text-align: center;
      color: #eff6e0;
       }
      
     i:hover {
         color: #598392;
       }
    
       .custom-overlay__caption {
        background-color: rgba(0, 0, 0, 0.8);
        max-height: 240px;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
        padding: 2px;
        font-size: 90%;
      }

      .custom-overlay__tag {
        word-wrap: break-word;
        display: inline-block;
        background-color: white;
        height: auto;
        font-size: 75%;
        font-weight: 600;
        line-height: 1;
        padding: .2em .6em .3em;
        border-radius: .25em;
        color: black;
        vertical-align: baseline;
        margin: 2px;
      }